table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    text-align: left;
    color: var(--textMuted);
    font-weight: 500;
    text-transform: uppercase;

    td, th {
      font-size: .8rem;
      line-height: 1rem;
    }
  }

  td, th {
    padding: 10px;
    border-bottom: 1px solid var(--borderColor);
  }

  td {
    word-break: break-word;
  }

  .col-content {
    display: flex;
    gap: .8em;
    align-items: center;
  }

  :where(td, th):first-child {
    padding-inline-start: 2rem;
  }

  :where(td, th):last-child {
    padding-inline-end: 2rem;

    &.has-actions {
      text-align: right;
    }
  }
}
