:root {
  --bodyColor: #f8f9fa;
  --baseColor: #ffffff;
  --txtPrimaryColor: #16161a;
  --textMuted: #666f75;
  --primaryColor: #16161a;
  --accentColor: #16161a;

  --borderColor: #e4e9ec;
  --hoverBackgroundColor: #d7dde4;
  --overlayColor: rgba(53, 71, 104, .28);

  --color1: #e4e9ec;
  --color2: #d7dde4;
  --color3: #c6cdd7;
  --color4: #a5b0c0;
  --disabledColor: #a0a6ac;

  --sidebarWidth: 75px;
  --wrapperWidth: 850px;

  --btnHeight: 40px;
  --btnInline: 14px;
  --btnRadius: 4px;

  // Fonts
  --smFontSize: .9em;

  // Layouts
  --baseSpacing: 1rem;

  // Radius
  --baseRadius: 6px;
  --lgRadius: 12px;

  // Animation
  --baseAnimationSpeed: .25s;

  // Colors
  --dangerColor: #e34562;
  --successColor: #32ad84;
  --warningColor: #ff944d;
}
